@{
  Layout = "_Layout";
}

<h1>Add New Category</h1>

<form action="/categories/all" method="post">
  <label for="new-category">Category Name: </label>
  <input type="text" id="new-category" name="new-category" class="form-control">
  <button type="submit" class="btn btn-default">Add</button>
</form>

<a href="/categories/all"><button class="btn btn-default">See All</button></a>

<a href="/"><button class="btn btn-default">Home</button></a>
