@{
  Layout = "_Layout";
}

<div class="well">
  <h1>Add a Category</h1>
</div>

<div class="form">
  <form action="/categories" method="post">
    <label for="category-name">Category Name</label>
    <input id="category-name" name="category-name" type="text">
    <button type="submit" class="add">Add</button>
  </form>
</div>

<p><a href="/"><button class="btn btn-default">Home</button></a></p>
