<h1>Add a new collection to @Model.GetName()</h1>
<form action='/collection/@Model.GetId()/collection/new' method='post'>

  <label for='coin-name'>Enter the coin name:</label>
  <input id='coin-name' name='coin-name' type='text'>

  <label for='coin-value'>Enter the coin value:</label>
  <input id='coin-value' name='coin-value' type='number'>

  <label for='coin-year'>Enter the coin year:</label>
  <input id='coin-year' name='coin-year' type='text'>

  <button type='submit'>Add task</button>
</form>
