@{
  Layout = "_Layout";
}

<div class="well">
  <h1>Coin Collection</h1>
</div> 

<p><a href='/categories'><button class="btn btn-default">View categories</button></a></p>
<p><a href='/categories/new'><button class="btn btn-default">Add a new category</button></a></p>
