@{
  Layout = "_Layout";
}

<h1>Inventory</h1>

<a href="/categories/add"><button class="btn btn-default">Add New Category</button></a>

<a href="/categories/all"><button class="btn btn-default">See All</button></a>
